@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --light: 225, 225, 225; /*#e1e1e1*/
  --dark: 20, 20, 20; /* #141414 */
  --uni-red: 225, 60, 46; /* #E13C2E */
  --accent: 122, 67, 251; /* #7A43FB */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(var(--accent), 1);
  text-decoration: inherit;
}
a:hover {
  color: rgba(var(--accent), 1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 60px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(var(--dark), 1);
  cursor: pointer;
  transition: border-color 0.25s;
}

button.primary {
  background-color: rgba(var(--accent), 1);
}
button:hover {
  border-color: rgba(var(--accent), 1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(var(--dark), 1);
    background-color: rgba(var(--light), 1);
  }
  a:hover {
    color: rgba(var(--accent), 1);
  }
  button {
    background-color: rgba(var(--light), 1);
  }
}
